
h1, h3{
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: blue;
}


.title{
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    background-color: aquamarine;
    border: 5px solid rebeccapurple;
}