
h1, h3, .title {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: blue;
}

body {
    box-sizing: border-box;
     display: block;
}

.title {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    /* background-color: aquamarine; */
    margin-top: 20px;
}

.recipe-list{
    display: block;
    padding: 5px;
    /* background-color: rgb(134, 255, 5); */
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* target children of recipe-list that also have an <a> tag */
.recipe-list a{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 5, 163);
    border: 2px solid rebeccapurple;
    margin: 30px;
    font-size: 20px;
}
