
h1, h3{
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: blue;
}


.title{
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    background-color: aquamarine;
}

.recipe-list{
    box-sizing: border-box;
    display: block;
    padding: 5px;
    background-color: rgb(134, 255, 5);
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-list a{
    display: block;
}
